.cardListItem {
	background-color: var(--light);
	display: grid;
	grid-template-columns: 220px auto;
	border-radius: 4px;
	box-shadow: var(--default-shadow);
	overflow: hidden;
	transition: 0.3s;

	&:hover {
		filter: brightness(1.1);
		transition: 0.3s;
	}

	& img {
		width: 100%;
		height: 180px;
		object-fit: cover;
	}

	& article {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		padding: 14px;
		& header {
			display: block;
			width: 100%;
		}
	}

	& nav {
		display: flex;
		justify-content: flex-end;
		width: 100%;
	}

	& a {
		padding: 8px 12px;
		background: var(--primary);
		color: var(--dark);
		transition: 0.4s;
		cursor: pointer;
		border: none;
		border-radius: 4px;
		appearance: none;
		text-decoration: none;
		display: table;
		&:hover {
			transition: 0.4s;
			filter: brightness(1.2);
		}
	}
}
